---
const { message, link } = Astro.props;
---

<a class="link-btn" href={link} target="_blank"><button class="btn"><span>{message}</span></button></a>

<style>
    .link-btn {
        text-decoration: none;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 150px;
        height: 45px;
        //padding: 10px 30px;
        background-color: #1e1e1e;
        border-radius: 10px;
        border: none;
        transition: all .2s;
        cursor: pointer;
    }
    .btn > span {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 200;
    }
    .btn > img  {
        width: 24px;
    }
    .btn:hover {
        background: #555;
    }
</style>