<nav class="navbar">
    <span>Александр Ершов</span>
    <ul>
        <li>
            <a href="https://github.com/YearShow" target="_blank" rel="noopener noreferrer">
                <img src="/github.svg" alt="mail" />
            </a>
        </li>
    </ul>
</nav>

<style>
    .navbar {
        height: 50px;
        width: calc(100% - 40px);
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgb(30, 30, 30, .3);
        backdrop-filter: blur(8px) saturate(100%);
        z-index: 10;
    }

    .navbar > span {
        font-weight: 600;
    }

    .navbar > ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
        font-size: 14px;
    }

    .navbar img {
        width: 25px;
    }

    .navbar img:hover {
        cursor: pointer;
    }

    .navbar > ul > .contact-btn {
        background-color: #1e1e1e;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .navbar > ul > .contact-btn > a {
        color: #fff;
    }
</style>